<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Montania Arbetsprov{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    {% endblock %}
  </head>
  <body>
    <div id="info-container">
      <p>Högsta pris: {{max_pris}} kr</p>
      <p>Minsta pris: {{min_pris}} kr</p>
      <p>Antal artiklar: {{antal_artiklar}} st</p>
    </div>
    <h1>Kategorier:</h1>
    {% for kategori in produkter %}
      {{ include('./kategori.html.twig', {kategori: kategori}) }}
    {% endfor %}
  </body>
</html>